<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timeshaft.after_end.mapper.FriendsMapper">

    <resultMap id="BaseResultMap" type="Friends">
        <!--@Table friends-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId1" column="user_id1" jdbcType="INTEGER"/>
        <result property="userId2" column="user_id2" jdbcType="INTEGER"/>
        <result property="nickname1" column="nickname1" jdbcType="VARCHAR"/>
        <result property="nickname2" column="nickname2" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, user_id1, user_id2, nickname1, nickname2, state
        from timeshaft.friends
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, user_id1, user_id2, nickname1, nickname2, state
        from timeshaft.friends
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, user_id1, user_id2, nickname1, nickname2, state
        from timeshaft.friends
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId1 != null">
                and user_id1 = #{userId1}
            </if>
            <if test="userId2 != null">
                and user_id2 = #{userId2}
            </if>
            <if test="nickname1 != null and nickname1 != ''">
                and nickname1 = #{nickname1}
            </if>
            <if test="nickname2 != null and nickname2 != ''">
                and nickname2 = #{nickname2}
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into timeshaft.friends(user_id1, user_id2, nickname1, nickname2, state)
        values (#{userId1}, #{userId2}, #{nickname1}, #{nickname2}, #{state})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update timeshaft.friends
        <set>
            <if test="userId1 != null">
                user_id1 = #{userId1},
            </if>
            <if test="userId2 != null">
                user_id2 = #{userId2},
            </if>
            <if test="nickname1 != null and nickname1 != ''">
                nickname1 = #{nickname1},
            </if>
            <if test="nickname2 != null and nickname2 != ''">
                nickname2 = #{nickname2},
            </if>
            <if test="state != null and state != ''">
                state = #{state},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from timeshaft.friends where id = #{id}
    </delete>

    <select id="count" resultMap="BaseResultMap">
        select
            count(*)
        from timeshaft.friends
    </select>

</mapper>