<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timeshaft.after_end.mapper.GroupUserMapper">

    <resultMap id="BaseResultMap" type="GroupUser">
        <!--@Table group_user-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="groupId" column="group_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="userNickname" column="user_nickname" jdbcType="VARCHAR"/>
        <result property="identity" column="identity" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="invite" column="invite" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, group_id, user_id, user_nickname, identity, state, invite
        from timeshaft.group_user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, group_id, user_id, user_nickname, identity, state, invite
        from timeshaft.group_user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, group_id, user_id, user_nickname, identity, state, invite
        from timeshaft.group_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="groupId != null">
                and group_id = #{groupId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="userNickname != null and userNickname != ''">
                and user_nickname = #{userNickname}
            </if>
            <if test="identity != null and identity != ''">
                and identity = #{identity}
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
            <if test="invite != null">
                and invite = #{invite}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into timeshaft.group_user(group_id, user_id, user_nickname, identity, state, invite)
        values (#{groupId}, #{userId}, #{userNickname}, #{identity}, #{state}, #{invite})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update timeshaft.group_user
        <set>
            <if test="groupId != null">
                group_id = #{groupId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="userNickname != null and userNickname != ''">
                user_nickname = #{userNickname},
            </if>
            <if test="identity != null and identity != ''">
                identity = #{identity},
            </if>
            <if test="state != null and state != ''">
                state = #{state},
            </if>
            <if test="invite != null">
                invite = #{invite},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from timeshaft.group_user where id = #{id}
    </delete>

    <select id="count" resultMap="BaseResultMap">
        select
            count(*)
        from timeshaft.group_user
    </select>
</mapper>