<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timeshaft.after_end.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="User">
        <!--@Table user-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="photo" column="photo" jdbcType="VARCHAR"/>
        <result property="private1" column="private" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, username, email, password, photo, private
        from timeshaft.user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, username, email, password, photo, private
        from timeshaft.user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, username, email, password, photo, private
        from timeshaft.user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="photo != null and photo != ''">
                and photo = #{photo}
            </if>
            <if test="private != null">
                and private = #{private1}
            </if>
        </where>
    </select>

    <!--新增所有列-->
<!--    keyProperty="id" useGeneratedKeys="true"-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into timeshaft.user(username, email, password, photo, private)
        values (#{username}, #{email}, #{password}, #{photo}, #{private1})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update timeshaft.user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="photo != null and photo != ''">
                photo = #{photo},
            </if>
            <if test="private != null">
                private = #{private1},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from timeshaft.user where id = #{id}
    </delete>

    <!--随机获取用户-->
    <select id="randomUser" resultMap="BaseResultMap">
        select
            id, username, email, password, photo, private
        from timeshaft.user
        where private = 0 and id >= ((select MAX(id) from timeshaft.user)-(select MIN(id) FROM timeshaft.user)) * RAND() + (select MIN(id) from timeshaft.user) limit #{number}
    </select>

</mapper>